.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}
.navbar-fixed-top {
    top: 0;
    z-index: 1030;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    border-width: 0 0 1px;
}
.navbar {
    border-radius: 4px;
}
.h6 {
    margin-top: 50px;
    margin-bottom: 10px;
}
.Lenta{
    position: relative;
    top:-15px;
    right: -500px;
}
.navbar {
    position: relative;
    z-index: 1000;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.img-responsive {
    border: 2px double black; 
    background: #fff; 
}
.container .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
}
.container .jumbotron {
    border-radius: 6px;
}
.jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
}
.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    background-color: #eee;
}
  #map { 
  width: 100%; 
  height: 600px;
  position: relative;
  border: 1px solid black
   }
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
}
